<.header>
  Listing Intranet messages
  <:actions>
    <.link patch={~p"/intranet_chat/new"}>
      <.button>New Intranet message</.button>
    </.link>
  </:actions>
</.header>

<p>{@current_user.email}</p>
<div class="p-4 bg-gray-100 h-screen overflow-y-auto">
  <div class="max-w-2xl mx-auto">
    <%= for intranet_message <- @intranet_messages do %>
      <% is_current_user = intranet_message.user_id == @current_user.id %>
      <div class={"mb-1 text-sm font-semibold " <> if is_current_user, do: "text-right text-blue-600", else: "text-left text-gray-700"}>
        <%= if is_current_user, do: "Me", else: intranet_message.user.email %>
      </div>
      <div class={"flex mb-3 " <> if is_current_user, do: "justify-end", else: "justify-start"}>
        <div class={"rounded-lg px-4 py-2 max-w-xs " <>
          if is_current_user, do: "bg-blue-500 text-white", else: "bg-gray-200 text-gray-900"}>
          <p><%= intranet_message.message_body %></p>
        </div>
      </div>
    <% end %>


  </div>
  <div class="fixed bottom-0 left-0 w-full bg-white p-4 border-t flex items-center gap-2">
  <.form for={@changeset} phx-submit="send_message" class="flex w-full">

    <select name="intranet_conversation_id" class="border p-2 rounded-md text-gray-700">
      <option value="">Choisir une conversation</option>
      <%= for intranet_conversation <- @intranet_conversations do %>
        <option value={intranet_conversation.id}>Conversation {intranet_conversation.id}</option>
      <% end %>
    </select>

    <select name="recipient_id" class="border p-2 rounded-md text-gray-700">
      <option value="">Choisir un destinataire</option>
      <%= for user <- @users do %>
        <option value={user.id}><%= user.email %></option>
      <% end %>
    </select>

    <input 
      type="text" 
      name="message_body" 
      placeholder="Écrivez un message" 
      class="flex-1 border p-2 rounded-md text-gray-700"
      required
    />

    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">
      Envoyer
    </button>
  </.form>
</div>


</div>



<.modal
  :if={@live_action in [:new, :edit]}
  id="intranet_message-modal"
  show
  on_cancel={JS.patch(~p"/intranet_chat")}
>
  <.live_component
    module={IgIntranetWeb.IntranetChatLive.FormComponent}
    id={(@intranet_message && @intranet_message.id) || :new}
    title={@page_title}
    action={@live_action}
    intranet_message={@intranet_message}
    intranet_conversation={@intranet_conversation}
    users={@users |> Enum.map(&{&1.email, &1.id})}
    current_user={@current_user}
    patch={~p"/intranet_chat"}
  />
</.modal>
